<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase text-center">{{myData.title}}</h5>
      <h6 class="card-price text-center">{{myData.price}}<span class="period">/month</span></h6>
      <hr>
      <ul class="fa-ul">
        <li [ngClass]="{'text-muted':!myData.user.available}">
          <span class="fa-li">
            <i [ngClass]="myData.user.available?'fa fa-check':'fa fa-times'"></i>
          </span><b>{{myData.user.data}}</b>
        </li>
        <li [ngClass]="{'text-muted':!myData.storage.available}">
          <span class="fa-li">
            <i [ngClass]="myData.storage.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.storage.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.projectA.available}">
          <span class="fa-li">
            <i [ngClass]="myData.projectA.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.projectA.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.access.available}">
          <span class="fa-li">
            <i [ngClass]="myData.access.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.access.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.projectB.available}">
          <span class="fa-li">
            <i [ngClass]="myData.projectB.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.projectB.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.support.available}">
          <span class="fa-li">
            <i [ngClass]="myData.support.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.support.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.subdomain.available}">
          <span class="fa-li">
            <i [ngClass]="myData.subdomain.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.subdomain.data}}
        </li>
        <li [ngClass]="{'text-muted':!myData.status.available}">
          <span class="fa-li">
            <i [ngClass]="myData.status.available?'fa fa-check':'fa fa-times'"></i>
          </span>{{myData.status.data}}
        </li>
      </ul>
      <div class="d-grid">
        <button href="#" class="btn btn-primary text-uppercase">Button</button>
      </div>
    </div>
  </div>